on init
    write /sys/class/leds/lcd-backlight/brightness 100
    
    write /sys/devices/platform/msm_hsusb/gadget/lun0/ro 0
    
    write /sys/class/android_usb/android0/iManufacturer "Xiaomi"
    write /sys/class/android_usb/android0/iProduct "Redmi 3"
    



